<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stocksinsite.core.repository.CorrelRepository">
  <select id="getCorrels" resultType="java.util.HashMap">
    SELECT date, close, name, insVolCum, etcVolCum, indVolCum, forVolCum
    FROM last_6m
    WHERE ticker IN 
    (
      SELECT * FROM
      (
        (SELECT ticker FROM correl WHERE period = 'last_1m' ORDER BY cap DESC LIMIT 100 OFFSET ${offset}) AS tmp
      )
    )
  </select>
  <select id="getCorrel" resultType="java.util.HashMap">
    SELECT date, name, close, insVolCum, etcVolCum, indVolCum, forVolCum FROM last_6m WHERE ticker=${ticker};
  </select>
</mapper>