<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stocksinsite.core.repository.RankRepository">
  <select id="getRankByCap" resultType="java.util.HashMap">
    SELECT *
    FROM (
      SELECT ticker, name, cap, RANK() OVER(ORDER BY cap DESC) AS rnk
      FROM stocks_info
    ) AS T1
    <![CDATA[WHERE T1.rnk >= ${start}]]> 
    <![CDATA[AND T1.rnk <= ${end}]]>;
  </select>
  <select id="getRankByCorrel" resultType="java.util.HashMap">
    SELECT *
    FROM (
      SELECT ticker, name, period, ${investor}VolCum, RANK() OVER(ORDER BY ${investor}VolCum DESC) AS rnk
      FROM correl
      WHERE period = 'last_${period}m'
    ) AS T1
    <![CDATA[WHERE T1.rnk >= ${start}]]> 
    <![CDATA[AND T1.rnk <= ${end}]]>;
  </select>
  <select id="getRankByCorrelRangeCapPer" resultType="java.util.HashMap">
    SELECT *
    FROM (
      SELECT T1.ticker, T1.name, correl.period, correl.${investor}VolCum, RANK() OVER(ORDER BY correl.${investor}VolCum DESC) AS rnk, T1.cap, T1.per
      FROM (
        SELECT ticker, name, cap, per
        FROM stocks_info
        <![CDATA[WHERE cap >= ${startCap}]]>
        <![CDATA[AND cap <= ${endCap}]]>
        <![CDATA[AND per >= ${startPer}]]> 
        <![CDATA[AND per <= ${endPer}]]>
      ) AS T1
      LEFT JOIN correl
      ON T1.ticker = correl.ticker
    ) AS JT1
    <![CDATA[WHERE JT1.rnk >= ${startCorrel}]]> 
    <![CDATA[AND JT1.rnk <= ${endCorrel}]]>;
  </select>
</mapper>