<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stocksinsite.core.repository.StockRepository">
  <select id="getStock" resultType="java.util.HashMap">
    SELECT *
    FROM last_${period}m_norm
    WHERE ticker = ${ticker};
  </select>
</mapper>