<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stocksinsite.core.repository.StockRepository">
  <select id="getStock" resultType="java.util.HashMap">
    SELECT *
    FROM last_${period}m_norm
    WHERE ticker = ${ticker};
  </select>
  <select id="getStockList" resultType="java.util.HashMap">
    SELECT ticker, name, market
    FROM stocks_info;    
  </select>
  <select id="getStockInfo" resultType="java.util.HashMap">
    SELECT * 
    FROM stocks_info 
    WHERE ticker='${ticker}';
  </select>
  <select id="getStockRangeCap" resultType="java.util.HashMap">
    SELECT T2.date, T2.name, T2.closeNorm, T2.indVolCumNorm, T2.insVolCumNorm, T2.forVolCumNorm, T2.etcVolCumNorm
    FROM (
      SELECT ticker, name, cap, RANK() OVER(ORDER BY cap DESC) AS rnk
      FROM stocks_info
      WHERE market = '${market}'
    ) AS T1
    LEFT JOIN last_${period}m_norm AS T2
    ON T1.ticker = T2.ticker
    <![CDATA[WHERE T1.rnk >= ${start}]]> 
    <![CDATA[AND T1.rnk <= ${end}]]>;
  </select>
  <select id="getStockRangeCapPer" resultType="java.util.HashMap">
    SELECT T2.date, T2.name, T2.closeNorm, T2.indVolCumNorm, T2.insVolCumNorm, T2.forVolCumNorm, T2.etcVolCumNorm
    FROM (
      SELECT ticker, name, cap, per
      FROM stocks_info
      WHERE market = '${market}'
      <![CDATA[AND cap >= ${startCap}]]>
      <![CDATA[AND cap <= ${endCap}]]>
      <![CDATA[AND per >= ${startPer}]]> 
      <![CDATA[AND per <= ${endPer}]]>
    ) AS T1
    LEFT JOIN last_${period}m_norm AS T2
    ON T1.ticker = T2.ticker;
  </select>
</mapper>